:root {
    --secondary-color: #666;
    --introduction-span-color: #FF8A56;
}




* {
    text-decoration: none;

}




  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


body {
    font-family: 'Roboto', sans-serif;
}



header {
    /*display: flex;
    justify-content: space-between;
    align-items: center; */
    display: flex;
    justify-content: space-around;
}

header nav {
    display: none;
}

header nav a {
    color: #000;
    margin-right: 20px;
}

/* TODO 576-dan kiçik olanda - ekstra kiçik cihazlar col-12 */
/* TODO 576-768 arası olanda - kiçik cihazlar */
/* TODO 768-991 arası olanda - kiçik planşet col-md */
/* TODO 991-1200px arası olanda - noutbuklar */
/* TODO 1200-1400px arası olanda - PC */
/* TODO 1400px-dan çox - Smart TV */


/* INTRODUCTION START */

.introduction .intro-left-side h1 {
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 35px;
    text-align: center;

    /* text-align: left sola cekir */
    /* text-align: right saga cekir */
    /* text-align: justify */
}
.introduction .intro-left-side h1 span {
    color: var(--introduction-span-color);
}

.introduction .intro-left-side p {
    color: var(--secondary-color);
    font-weight: 400;
}

.book-a-call {
    margin-top: 40px;
}

.introduction .intro-left-side .book {
    background: #222;
    color:#fff;
    width: 151px;
    height: 58px;
    display: inline-block;
display: inline-flex;
justify-content: center;
align-items: center;
margin-right: 10px;
}


.introduction .intro-right-side img {
    width: 300px;
    margin: 0 auto;
}


.emekdaslar {
    padding: 100px 0;
}

.emekdaslar h6 {
    text-align: center;
    font-size: 18px;
    font-weight: 100;
}

.shirketler {
    margin-left: 40px;
}

.shirketler img:nth-child(odd) {
display: none;
}

.shirketler img:nth-child(1),
.shirketler img:nth-child(2) {
    display: none;
}


.services-cards {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(306px, 1fr));
    gap: 30px;
}

.services h1 {
    text-align: center;
    margin-bottom: 50px;
  }

.services-card .card {
    padding: 30px;
    transition: all .5s ease-in;
}

.services-cards  .card:hover {
    -webkit-box-shadow: 7px 9px 20px 6px rgba(247,244,247,1);
    -moz-box-shadow: 7px 9px 20px 6px rgba(247,244,247,1);
    box-shadow: 7px 9px 20px 6px rgba(247,244,247,1);
    cursor: pointer;
}

.services h6 {
    text-align: center;
    text-transform: uppercase;
    color: #FF5E69;
    font-size: 22px;
    letter-spacing: 2px;
}

.services ul {
    list-style-type: square;
    list-style-position: inside;
    padding-left: 0;
}

.book-a-call-btn {
    background-color: #222;
    width: 151px;
    height: 58px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

/* INTRODUCTION END */


@media(max-width:575px) {
    .parentdiv {
        max-width: 100%;
    }
}


@media(min-width:576px) {
    .parentdiv {
        max-width: 540px;
        margin: 0 auto;

    }
}

@media(min-width:768px) {
    .parentdiv {
        max-width: 720px;
        margin: 0 auto;
    }

    header nav {
        display: block;
    }

.fa-bars {
    display: none;
}

.introduction {
    display: flex;
}

.introduction .intro-left-side {
    padding-top: 70px;
}

.introduction .intro-left-side h1 {
    font-size: 34px;
    text-align: left;
}

.intro-right-side {
    margin-left: 20px;
    padding-top: 40px;
}

.introduction .intro-right-side img {
    width: 400px;
}

.shirketler {
    display: flex;
    justify-content: space-around;
    
}

.shirketler img {
    display: inline !important;
}

}

@media(min-width:992px) {
    .parentdiv {
        max-width: 960px;
        margin: 0 auto;
    }

    .introduction {
        display: flex;
        /* flex-direction: row; */
        /* flex-direction: column; */
        /* justify-content: center; */
    }

    .introduction .intro-left-side h1 {
        font-size: 72px;
    }

    .introduction .intro-left-side {
        padding: 92px 0;
    }

    .introduction .intro-right-side {
        padding-top: 72px;
    }

    /* partnyorlar */


}

@media(min-width:1200px) {
    .parentdiv {
        max-width: 1140px;
        margin: 0 auto;
    }
}

/* .footer {} */